<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xst.mapper.AreasMapper">

    <!-- 公众部分 -->
    <sql id="selectColumn">
        id,number,name,pid,areaCode,zipCode,level,state,flag
    </sql>

    <!--查询下级的省市区县-->
    <select id="getAreasByPid" resultType="com.xst.model.Areas">
        select
        <include refid="selectColumn" />
        from edu_areas
        where flag = 1 and state = 1 and level = #{level} and pid = #{pid} order by number
    </select>

    <!--查询全部省-->
    <select id="getAreasByProvince" resultType="com.xst.model.Areas">
        select
        <include refid="selectColumn" />
        from edu_areas
        where flag = 1 and state = 1 and level = 1 order by number
    </select>

    <!--查询全部省-->
    <select id="getAreasByCityByProvince" resultType="com.xst.model.Areas">
        select
        <include refid="selectColumn" />
        from edu_areas
        where flag = 1 and state = 1 and level = 2 and pid = #{pid} order by number
    </select>

    <!--查询全部省-->
    <select id="getAreasByCountyByCity" resultType="com.xst.model.Areas">
        select
        <include refid="selectColumn" />
        from edu_areas
        where flag = 1 and state = 1 and level = 3 and pid = #{pid} order by number
    </select>

    <!--查询全部省市区县-->
    <select id="getAreas" resultType="com.xst.model.Areas">
        select
        <include refid="selectColumn" />
        from edu_areas
        where flag = 1 and state = 1 and level in
        <foreach collection="idlist" item="level" index ="index" open="(" close=")" separator=",">
            #{level,jdbcType=INTEGER}
        </foreach>
        order by number
    </select>


</mapper>