<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xst.mapper.MenuMapper">

    <!-- 公众部分 -->
    <sql id="selectColumn">
        id,menuname,opcode,pid,url,iconfont,DATE_FORMAT(insertdatetime, '%Y-%m-%d %H:%i:%s') insertdatetime,
        DATE_FORMAT(operatordatetime, '%Y-%m-%d %H:%i:%s') operatordatetime,state,flag
    </sql>


    <!-- 用户登录成功之后查询菜单 -->
    <select id="selectLoginMenus" resultType="com.xst.model.Menu">
        select
        <include refid="selectColumn"/>
        from sys_menu
        where flag = 1 and state = 1
    </select>

    <!-- DataTabables 分页，搜索  -->
    <select id="getPageMenuList" resultType="com.xst.model.Menu">
        select a.id,a.menuname,a.opcode,a.pid,a.url,a.iconfont,DATE_FORMAT(a.insertdatetime, '%Y-%m-%d %H:%i:%s') insertdatetime,
        DATE_FORMAT(a.operatordatetime, '%Y-%m-%d %H:%i:%s') operatordatetime,a.state,a.flag,b.menuname pname
        from sys_menu a
        LEFT JOIN sys_menu b on a.pid = b.id
        <where>
            a.flag = 1
            <if test="subSQL != null and subSQL != '' ">
                ${subSQL}
            </if>
            <if test="search != null and search != '' ">
                and INSTR(ifnull(a.menuname,''),'${search}') > 0
            </if>
        </where>
    </select>

    <!-- 改变菜单状态 -->
    <update id="changeMenuState" parameterType="com.xst.model.Menu">
        update sys_menu set state = #{state} where id = #{id} and flag = 1
    </update>

    <!-- 删除菜单 -->
    <update id="deleteMenu" parameterType="com.xst.model.Menu">
        update sys_menu set flag = 0 where flag = 1 and id in
        <foreach collection="idlist" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!-- 查询菜单下的子菜单数量 -->
    <select id="selectCountMenu" resultType="int">
        select count(menuname) from sys_menu where flag = 1 and pid in
        <foreach collection="idlist" item="pid" index ="index" open="(" close=")" separator=",">
            #{pid,jdbcType=INTEGER}
        </foreach>
    </select>

    <!-- 查询所有一级菜单 -->
    <select id="selectOneMenu" resultType="com.xst.model.Menu">
        select
        <include refid="selectColumn"/>
        from sys_menu
        where flag = 1 and state = 1 and opcode BETWEEN 2 AND 999
    </select>

    <!-- 插入菜单 -->
    <insert id="insertMenu" parameterType="com.xst.model.Menu">
          insert into sys_menu
          (menuname,opcode,pid,url,state,remark,insertdatetime,operatordatetime)
          values
          (#{menuname},#{opcode},#{pid},#{url},#{state},#{remark},#{insertdatetime},#{operatordatetime})
    </insert>

    <!-- 根据菜单名或者地址查询 -->
    <select id="selectMenuByMenuNameOrUrl" resultType="com.xst.model.Menu">
        select
        <include refid="selectColumn"/>
        from sys_menu
        where flag = 1
        <if test="menuname != null and menuname != '' ">
            and menuname = #{menuname}
        </if>
        <if test="url != null and url != '' ">
            and url = #{url}
        </if>
        <if test="id != null and id != '' ">
            and id != #{id}
        </if>
    </select>

    <!-- 根据 id 查询菜单 -->
    <select id="getMenuById" resultType="com.xst.model.Menu">
        select
        <include refid="selectColumn"/>
        from sys_menu
        where id = #{id} and flag = 1
    </select>

    <!-- 更新菜单 -->
    <update id="updateMenu" parameterType="com.xst.model.Menu">
        update sys_menu set menuname = #{menuname},pid = #{pid},url = #{url},iconfont = #{iconfont},remark = #{remark},operatordatetime = #{operatordatetime},state = #{state} where id = #{id}
    </update>

    <!--根据角色id 获取菜单权限-->
    <select id="getMenuListByRoleId" resultType="com.xst.model.Menu">
        select m.*,rm.roleid FROM sys_role_menu rm
        left join sys_menu m on rm.menucope = m.opcode
        where rm.roleid = #{roleid} and m.flag = 1 and m.state = 1
    </select>

    <!--根据菜单获取select
        <include refid="selectColumn"/>
        from sys_menu
        where id = #{id} and flag = 1菜单 主页-->
    <select id="getMenuListByRoleIdByIndex" resultType="com.xst.model.Menu">
        select m.*,rm.roleid FROM sys_role_menu rm
        left join sys_menu m on rm.menucope = m.opcode
        where rm.roleid = #{roleid} and m.state = 1 and m.flag = 1 and m.opcode BETWEEN 2 AND 9999
    </select>

    <select id="selectMaxOpcopeByPid" resultType="String">
        select max(opcode)  from sys_menu
        where pid = #{pid} and flag = 1 and flag = 1
    </select>

</mapper>