<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xst.mapper.RoleMapper">

    <!-- 公众部分 -->
    <sql id="selectColumn">
        id,rolename,description,DATE_FORMAT(insertdatetime, '%Y-%m-%d %H:%i:%s') insertdatetime,DATE_FORMAT(operatordatetime, '%Y-%m-%d %H:%i:%s') operatordatetime,state,flag
    </sql>


    <!-- DataTabables 分页，搜索  -->
    <select id="getPageRoleList" resultType="com.xst.model.Roles">
        select
        <include refid="selectColumn" />
        from sys_roles
        <where>
            <if test="subSQL != null and subSQL != '' ">
                ${subSQL}
            </if>
            <if test="search != null and search != '' ">
                and INSTR(ifnull(rolename,''),'${search}') > 0
            </if>
        </where>
    </select>


</mapper>